<nav class="navbar global-nav">
    <a href="{{PREFIX}}index.html#index" class="nav-logo" id="nav-logo">
        <span class="wave">🛡️</span> AppSec in a Nutshell
    </a>
    <ul>
        <li class="dropdown">
            <a href="#web-security-index" id="web-security-link"><span>🔒</span> Web Security</a>
            <ul class="dropdown-content">
                <li><a href="{{PREFIX}}WebSecurity/xss/TheoryXSS.html" id="xss-link"><span>🧬</span> XSS</a></li>
                <li><a href="{{PREFIX}}WebSecurity/sqlInjection/TheorySqli.html" id="sql-injection-link"><span>💾</span> SQL Injection</a></li>
            </ul>
        </li>
        <li><a href="#devsecops"><span>⚙️</span> DevSecOps</a></li>
        <li><a href="#design-security"><span>🎨</span> Design and Security</a></li>
    </ul>
</nav>
