<h3>Indice</h3>
<input type="search" class="search-input" id="sidebar-search" placeholder="Buscar en el indice...">

<div class="accordion" id="sidebar-accordion">
  <div class="accordion-item" data-key="theory">
    <div class="accordion-header">Theory <small>-</small></div>
    <div class="accordion-content">
      <ul>
        <li><a href="{{PREFIX}}WebSecurity/sqlInjection/TheorySqli.html" class="index-link">1. Introduccion</a></li>
        <li><a href="{{PREFIX}}WebSecurity/sqlInjection/sqlITheory/02-SqlInjection.html" class="index-link">2. Examinando la base de datos</a></li>
        <li><a href="{{PREFIX}}WebSecurity/sqlInjection/sqlITheory/03-SQLInjectionUnion.html" class="index-link">3. UNION attacks</a></li>
        <li><a href="{{PREFIX}}WebSecurity/sqlInjection/sqlITheory/04-SQLInjectionBlind.html" class="index-link">4. Blind SQLi</a></li>
        <li><a href="{{PREFIX}}WebSecurity/sqlInjection/sqlITheory/05-Prevencion.html" class="index-link">5. Prevenir SQLi</a></li>
        <li><a href="{{PREFIX}}WebSecurity/sqlInjection/sqlITheory/06-CheatSheet.html" class="index-link">6. Cheat sheet</a></li>
      </ul>
    </div>
  </div>

  <div class="accordion-item" data-key="portswigger">
    <div class="accordion-header">PortSwigger labs <small>-</small></div>
    <div class="accordion-content">
      <ul>
        <li>
          <a href="{{PREFIX}}WebSecurity/sqlInjection/PortSwigger/LAB01/Lab1.html" class="index-link">
            <span>[01]-Oracle Version</span>
            <span class="index-badge">#UNION</span>
          </a>
        </li>
        <li>
          <a href="{{PREFIX}}WebSecurity/sqlInjection/PortSwigger/LAB02/Lab2.html" class="index-link">
            <span>[02]-MySQL/MSSQL Version</span>
            <span class="index-badge">#UNION</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="accordion-item" data-key="htb">
    <div class="accordion-header">Hack The Box <small>-</small></div>
    <div class="accordion-content">
      <ul>
        <li><a href="{{PREFIX}}WebSecurity/sqlInjection/HackTheBox/Machine1.html" class="index-link">Machine: Example1</a></li>
        <li><a href="{{PREFIX}}WebSecurity/sqlInjection/HackTheBox/Machine2.html" class="index-link">Machine: Example2</a></li>
      </ul>
    </div>
  </div>
</div>

